{
	"semi": true,
	"singleQuote": true,
	"singleAttributePerLine": true,
	"printWidth": 100,
	"tabWidth": 4,
	"useTabs": true,
	"endOfLine": "auto",
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [
		{
			"files": ["*.md", "*.json", "*.yml", "*.yaml"],
			"options": {
				"tabWidth": 2
			}
		},
		{
			"files": "*.svelte",
			"options": { "parser": "svelte" }
		}
	]
}
