/* stylelint-disable */
.text-clipped-light {
    @apply bg-gradient-to-r from-blue-500 to-rose-50 bg-clip-text text-transparent;

    background-image: url('https://images.pexels.com/photos/3369526/pexels-photo-3369526.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
/* stylelint-enable */

/* stylelint-disable */
.text-clipped-dark {
    @apply bg-gradient-to-r from-blue-500 to-rose-50 bg-clip-text text-transparent;

    background-image: url('https://images.pexels.com/photos/1646311/pexels-photo-1646311.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
/* stylelint-enable */
