# Ignore node_modules for all packages
**/node_modules

# Ignore build directories for all packages
**/build
**/dist
**/.svelte-kit

# Ignore package-lock.json or yarn.lock files
**/package-lock.json
**/yarn.lock

# Ignore development and editor-specific files
**/.git
**/.idea
**/.vscode
**/.DS_Store
**/*.iml
**/*.log
**/*.tmp
**/*.swp
**/*.swo
**/*.bak
**/*.bak.*
**/*.backup
**/*~

# Ignore tests
**/test
**/tests
**/*.test.*
**/*.spec.*

# Ignore configuration files
**/*.env
commitlint.config.cjs
.eslintrc.cjs
.prettierrc

# Ignore Github files
/.github

# Ignore k8s files
/charts

# Ignore version control files
.git
.gitignore
.svn
.hg
.bzr

# Ignore Docker files
Dockerfile.docs
Dockerfile.cms
Dockerfile.web
docker-compose.yaml
docker-compose.development.yaml
docker-compose.production.yaml

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore documentation files
CHANGELOG
LICENSE
AUTHORS
CONTRIBUTORS
CONTRIBUTING.md
CODE_OF_CONDUCT.md
README.md

# Ignore custom scripts
/scripts
