@layer components {
    .badge {
        @apply flex items-center justify-center space-x-2;
        @apply rounded-token;
        @apply px-3 py-0;
        @apply font-medium;
        @apply tracking-wide;
        @apply text-white dark:text-gray-950;
        @apply bg-primary-500 dark:bg-primary-400;
    }
}
