.button-group {
    @apply flex flex-wrap items-center justify-start gap-2;

    &.button-group-start {
        @apply justify-start;
    }

    &.button-group-center {
        @apply justify-center;
    }

    &.button-group-end {
        @apply justify-end;
    }

    .button {
        @apply w-full md:w-auto;
    }
}
